<a
	{...Astro.props}
	rel="noopener noreferrer"
	role="link"
	class="inline-flex gap-2 justify-center items-center px-5 py-2 text-sm font-medium text-gray-600 bg-white rounded-lg border border-gray-200 transition-all duration-300 hover:scale-105 hover:border-gray-300 hover:bg-gray-50 focus:ring-2 focus:ring-gray-200 focus:outline-none dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:bg-gray-800"
>
	<slot />
</a>
